<div class="container">
  <header class="image-bg-fluid-height" style="background: url('/assets/library.jpg') no-repeat center center scroll;
  padding: 250px 0;">
  </header>

  <div class="jumbotron">
    <h1><%= image_tag("logo_dj.jpg", size: "64x64") %> Acesso à Justiça</h1>
    <p class="lead">Bem vindo ao Sistema de Acesso à Justiça</p>
  </div>
  <div class="well">
    <p>
      O atendimento do DJ é realizado por meio de orientações jurídicas gratuitas, prestadas diariamente na sede de nossa instituição, localizada na Praça João Mendes, 62 – 17º Andar.
      Nossos serviços são dedicados exclusivamente às pessoas que não podem arcar com os custos de um advogado.
      Nosso atendimento é realizado de Segunda a Sexta-Feira, e se divide em duas etapas: o pré-atendimento, das 10h às 14h, quando é realizada a triagem socioeconômica, e o atendimento consultivo, das 14h às 18h.
      Nessa segunda etapa, um membro do DJ esclarecerá todas as dúvidas jurídicas relacionadas ao caso, oferecendo o aconselhamento adequado para o assistido.
      Em média, são oferecidas 5 orientações jurídicas por dia, organizadas de acordo com a ordem de chegada ao pré-atendimento.
    </p>
  </div>

</div>
