<div class="container">


    <div class="jumbotron">
      <div class="row">
          <div class="col-md-2" style="float: left; margin: 0px 15px;">
            <%= image_tag("banner.jpg", size: "200x85", class: "media-object")%>
          </div>
          <div class="col-md-8 vcenter" style="display: inline-block; vertical-align: middle; float: none;">
            <h2 style="margin: 36px 0px 0px 34px;">
              Bem vindo ao Software Livre de Acesso à Justiça
            </h2>
          </div>
      </div>
    </div>
    <div class="well">
        <p>
          Parajás é um software livre, ainda em desenvolvimento, para extensões universitárias de
          faculdades de direito e outras instituições, que, como o Departamento
          Jurídico XI de Agosto,
          prestam serviços de assistência jurídica gratuita a pessoas de baixa renda,
          que não têm condições de pagar um advogado.   Assim como os escritórios de
          advocacia, essas instituições confiam em softwares para monitoramento dos
          seus processos ativos. Mais do que libertá-los do regime proprietário usual,
          baseado em programas caros e diferentes entre si, buscamos um programa único,
          vocacionado à extensão universitária, cuja interface reflita o caráter pedagógico
          que essa atividade deveria ter.
        </p>
    </div>

</div>
