<div class="container">
  <header class="image-bg-fluid-height" style="background: url('/assets/library.jpg') no-repeat center center scroll;
  padding: 300px 0;">
  </header>

  <div class="jumbotron">
    <h1><%= image_tag("logo_dj.jpg", size: "64x64") %> Acesso à Justiça</h1>
    <p>Bem vindo ao Sistema de Acesso à Justiça</p>
  </div>

</div>
