<div class="container">

   <h1>Acesso à Justiça</h1>
   <hr>

   <div class="row">
      <div class="col-md-2">
         <h4> Menu </h2<h4>
         <hr>
         <a href="pessoas/new" class="btn btn-primary">Criar</a>
         <hr>
         <a href="#" class="btn btn-primary">Sair</a>
      </div>
      <div class="col-md-10">
         <%= image_tag("logo_dj.jpg", size: "64x64") %>
         <h1> Bem vindo à Liga da Justiça </h1>
      </div>
   </div>

</div>
