<p id="notice"><%= notice %></p>

<p>
  <strong>Especialidade:</strong>
  <%= @estagiario.especialidade %>
</p>

<%= link_to 'Edit', edit_estagiario_path(@estagiario) %> |
<%= link_to 'Back', estagiarios_path %>
